PRIVATE_KEY_ACCOUNT_TO_DEPLOY_GOERLI=private_key_account_to_deploy_goerli
INFURA_API_KEY=infura_api_key

SAC_TOKENS_TOTAL_TOKENS=1500000000000000000000000000

DEVELOPER_POOL_BLOCKS_PER_ERA=10
DEVELOPER_POOL_ERA_MAX=18
DEVELOPER_POOL_FUNDS=15000000000000000000000000

ISA_POOL_FUNDS=0

SINTROP_TIME_BETWEEN_PRODUCER_INSPECTIONS=1000
